{% extends "inicio/index.html" %}

{% block nav %}
<nav class="navbar navbar-expand-md fixed-top mb-auto  navbar-light navbar-toggleable-md menu-fixed">
  <!-- Brand -->
 <label><a class="navbar-brand nombre" href="{% url 'inicio:proyectos_list' %}">GABRIEL BORELLA - <span class="arq">ARQUITECTO</span></a></label> 
  <!-- Button collapse -->
<button class="navbar-toggler" data-toggle="collapse" data-target="#contenido-nav" aria-controls="contenido-nav" aria-expanded="false">
<span class="navbar-toggler-icon"></span>
</button>
  <!-- Nav content -->
  <div class="collapse navbar-collapse" id="contenido-nav">
    <div class="navbar-nav text-center ml-auto desplegable">
          <a class="nav-item nav-link menu" aria-current="page" href="{% url 'inicio:academico' categoria_id=2 %}">Academicos</a>
          <a class="nav-item nav-link menu" href="{% url 'inicio:colaboraciones' categoria_id=1 %}">Colaboraciones</a>
          <a class="nav-item nav-link menu " href="{% url 'inicio:profesionales' categoria_id=3 %}">Proyectos profesionales</a>
          <a class="nav-item nav-link menu active" href="{% url 'inicio:exp_laboral' categoria_id=4 %}">Experiencia laboral </a>
          <a class="nav-item nav-link menu" href="{% url 'inicio:publicaciones' categoria_id=5 %}">Publicaciones</a>
          <a class="nav-item nav-link menu" href="{% url 'inicio:fotos' %}">Fotografias</a>
      </div>
  </div>
</nav>
<!-- <nav class="menu">
  <label class="logo"><a href="{% url 'inicio:proyectos_list' %}">GABRIEL BORELLA - <span class="arq">ARQUITECTO</span></a> </label>
  <ul class="menu_items">
      <li><a href="{% url 'inicio:academico' categoria_id=2 %}">Academicos</a></li>
      <li><a href="{% url 'inicio:colaboraciones' categoria_id=1 %}">Colaboraciones</a></li>
      <li><a href="{% url 'inicio:profesionales' categoria_id=3 %}">Proyectos profesionales</a></li>
      <li><a  class="active" href="{% url 'inicio:exp_laboral' categoria_id=4 %}">Experiencia laboral</a></li>
      <li><a href="{% url 'inicio:publicaciones' categoria_id=5 %}">Publicaciones</a></li>
      <li><a href="{% url 'inicio:fotos' %}">Fotografias</a></li>
  </ul>
  <span class="btn_menu">
      <i class="fa fa-bars"></i>
  </span>
</nav> -->
    <!-- <nav class="menu-fixed">
      <div class="d-flex flex-column flex-md-row align-items-center bg-white">
      <h5 class="my-0 mr-md-auto inicio"><a href="{% url 'inicio:proyectos_list' %} "><span class='name'>GABRIEL BORELLA -</span> <spam class="arq">ARQUITECTO</spam></h5></a> 

      <a class="nav-item nav-link p-2 menu" href="{% url 'inicio:academico' categoria_id=2 %}">Academicos</a>
      <a class="nav-item nav-link p-2 menu" href="{% url 'inicio:colaboraciones' categoria_id=1 %}">Colaboraciones</a>
      <a class="nav-item nav-link p-2 menu" href="{% url 'inicio:profesionales' categoria_id=3 %}">Proyectos profesionales</a>
      <a class="nav-item active nav-link p-2 menu" href="{% url 'inicio:exp_laboral' categoria_id=4 %}">Experiencia laboral</a>
      <a class="nav-item nav-link p-2 menu" href="{% url 'inicio:publicaciones' categoria_id=5 %}">Publicaciones</a>
      <a class="nav-item nav-link p-2 menu" href="{% url 'inicio:fotos' %}">Fotografia</a>
    </div>
    <br>
  </nav>  -->
  {% endblock nav %}

{% block content %}
<div class="container-fluid">
  {% for exp_laboral in laborales %}
  <section class="personas">

    <div class="contenedor">
      
      <article class="persona__columna">
        

        <a href="{% url 'inicio:ver_detalles' exp_laboral.id %}"><img src="{{exp_laboral.img_principal.url}}"></a>

        
      </article>
      
    </div>

  </section>
  {% endfor %}
</div>
{% endblock content %}

<div class="col-4 imag efecto">
  <a href="#"><img src="{{exp_laboral.img_principal.url}}" class="principal" style="height: 220px;
  width: 350px;"></a>
</div>